/resources/public/html/
/resources/public/css/
/resources/public/js/
*.DS_Store
pom.xml
*jar
/lib/
/classes/
/target/
/tools/
.shell_history
.lein-*
/.sass-cache/
/resources/public/img/local
/chef/cookbooks/
/chef/tmp/
