!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/index.css")
    %script(type="text/javascript" src="/js/lib/jquery-1.7.2.js")
    %title My PhotoStream
  %body
    .slider-wrapper
      .s-slides
        .previous.nav-button
        .next.nav-button
        %ul.images-list
          %li#slide-1
            .full.image(style="background-image:url('/img/1.png')")
          %li#slide-2
            .full.image(style="background-image:url('/img/2.png')")
          %li#slide-3
            .full.image(style="background-image:url('/img/3.png')")

      .s-thumbs
        %ul.thumbnails-list
          %li
            .thumbnail.image(style="background-image:url('/img/1.png')")
          %li
            .selected.thumbnail.image(style="background-image:url('/img/2.png')")
          %li
            .thumbnail.image(style="background-image:url('/img/3.png')")
