!!! 5

%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/photo_stream.css")

    :javascript
      // Configs for google closure framework
      CLOSURE_NO_DEPS=true;
      CLOSURE_BASE_PATH="./public/";

    %script(type="text/javascript" src="/js/lib/jquery-1.7.2.js")
    %script(type="text/javascript" src="/js/lib/underscore.1.3.1.js")
    %script(type="text/javascript" src="/js/lib/backbone.0.9.1.js")
    %script(type="text/javascript" src="/js/index.js")
    %script(type="text/javascript" src="/js/main.js")
    %title My PhotoStream

  %body
    .slider-wrapper
      .images-container
        %a.previous.nav-button
        %a.next.nav-button
        %ul.images-list
          %li
            .full.image(style="background-image:url('/img/1.png')")
          %li
            .full.image(style="background-image:url('/img/2.png')")
          %li
            .full.image(style="background-image:url('/img/3.png')")

      .thumbnails-container
        %ul.thumbnails-list
          %li
            %a.thumbnail.image(style="background-image:url('/img/1.png')")
          %li
            %a.selected.thumbnail.image(style="background-image:url('/img/2.png')")
          %li
            %a.thumbnail.image(style="background-image:url('/img/3.png')")
