$background-color-center: rgba(102, 102, 102, 1)
$background-color-outer: rgba(44, 45, 50, 1)

$font-color-light: rgba(196, 196, 196, 0.80)

@mixin background-gradient($gradients...)
  background: -webkit-radial-gradient($gradients) // Chrome10+,Safari5.1+ 
  background: -moz-radial-gradient($gradients) // FF3.6+ 
  background: -ms-radial-gradient($gradients) // IE10+ 
  background: -o-radial-gradient($gradients) // Opera 12+ 
  background: background-gradient($gradients)

.background-style
  background: rgb(44,45,50) // Old browsers 
  @include background-gradient(center, ellipse cover, $background-color-center 0%, $background-color-outer 100%)
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$background-color-center), color-stop(100%,$background-color-outer)) // Chrome,Safari4+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($background-color-center)}', endColorstr='#{ie-hex-str($background-color-outer)}',GradientType=1 ) // IE6-9 fallback on horizontal gradient 

.hidden
  display: none

.invisible
  opacity: 0

.error
  margin-top: 15px
  color: rgb(219, 68, 10)
