!!! 5

%html
  %head
    %link(rel="icon" type="image/png" href="/img/favicon.png")
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/404.css")

    %title iPerture: 404 - Page Not Found

  %body.background-style.table
    .vertically-centered
      .lost-image.horizontally-centered
