!!! 5

%html
  %head
    :javascript
      // Configs for google closure framework
      CLOSURE_NO_DEPS=true;
      CLOSURE_BASE_PATH="./public/";

      // Configs for google webfonts
      WebFontConfig = {
        google: { families: [ 'Quando' ] }
      };
    %link(rel="icon" type="image/png" href="/img/favicon.png")
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/albums.css")

    %script(src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async)
    %title My Albums

  %body
    #albums.page
      .background-style
      .container
        .center-vertically
          %form.center-horizontally.create-album
            %label(for="create-album-title") You don't have any album yet.  Type your album title below to create one.
            .input-box
              %input#create-album-title(name="create-album-title")
              %input#create-album-button(type='submit' value='+')
            .create-album-title-input.error

    %script(type="text/javascript" src="/js/main.js" async)
