!!! 5

%html
  %head
    :javascript
      // Configs for google closure framework
      CLOSURE_NO_DEPS=true;
      CLOSURE_BASE_PATH="./public/";

      // Configs for google webfonts
      WebFontConfig = {
        google: { families: [ 'Quando' ] }
      };
    %link(rel="icon" type="image/png" href="/img/favicon.png")
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/edit-album.css")

    %script(src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async)

    %script(type="text/javascript" src="/js/lib/jquery-1.7.2.js" async)
    %script(type="text/javascript" src="/js/main.js" async)
    %title Edit album:

  %body.background-style
    %h1.album-title My album
    %ol.photos
      %li.photo(style="background-image:url('/img/1.png')")
      %li.photo(style="background-image:url('/img/2.png')")
      %li.photo(style="background-image:url('/img/3.png')")
      %li.photo(style="background-image:url('/img/4.png')")
      %li.photo(style="background-image:url('/img/5.png')")
      %li.photo(style="background-image:url('/img/6.png')")
    .add-photo-button
      %form#add-photo
        %input(type='file' accept='image/*' name='photo')
        .add-photo-overlay Add photo(s)
