!!! 5

%html
  %head
    :javascript
      // Configs for google closure framework
      CLOSURE_NO_DEPS=true;
      CLOSURE_BASE_PATH="./public/";
      IPERTURE_LOGGER_ENABLED=true;

      // Configs for google webfonts
      WebFontConfig = {
        google: { families: [ 'Quando' ] }
      };
    %link(rel="icon" type="image/png" href="/img/favicon.png")
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/albums/edit.css")

    %script(src="/js/lib/spin.min.js" type="text/javascript" async)
    %script(src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async)
    %title Edit album:

  %body.background-style
    #edit-album.page
      %h1.album-title My album
      %ol.photos.clearfix
        %li.photo(style="background-image:url('/img/1.png')")
        %li.photo(style="background-image:url('/img/2.png')")
        %li.photo(style="background-image:url('/img/3.png')")
        %li.photo(style="background-image:url('/img/4.png')")
        %li.photo(style="background-image:url('/img/5.png')")
        %li.photo(style="background-image:url('/img/6.png')")
        %li.loading-placeholder
          .label Uploading photo
        %li.add-photo-button
          %form#add-photo
            %input.photo-file-input(type='file' accept='image/*' name='photos' multiple="true")
            .add-photo-overlay Add photo(s)

    %script(type="text/javascript" src="/js/main.js" async)
