!!! 5

%html
  %head
    :javascript
      // Configs for google closure framework
      CLOSURE_NO_DEPS=true;
      CLOSURE_BASE_PATH="./public/";

      // Configs for google webfonts
      WebFontConfig = {
        google: { families: [ 'Quando' ] }
      };
    %link(rel="icon" type="image/png" href="/img/favicon.png")
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/albums/index.css")

    %script(src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async)
    %title My Albums

  %body#albums.index.page
    .background-style
      %h1.title Albums
      %ul.albums
        %li
          %a.album(style="background-image:url('/img/empty-album.jpg')")
            %span.album-title Album 1
        %li
          %a.album(style="background-image:url('/img/empty-album.jpg')")
            %span.album-title Album 2 blklfdk fldskfl; fdlskf;dk lfkds;lkfd;k dddd hhhh
        %li
          %a.album(style="background-image:url('/img/empty-album.jpg')")
            %span.album-title Album 3
